/** @param main. footer. background-color=#F2F2F2: /*voir syntaxe du css * 
* ! même background-color gris pour les deux premières sections du main et footer  */
 
/*TODO trouver le nom du sélecteur pour la balise des icons qui vont êtres color bleu #0065FC et background color #DEEBFF*
/* TODO fichier de remise à zero du css...
/**
* * Methode * CSS rules to specify families font-family: 'Raleway', sans-serif 
*/

* margin: auto;

body {
    font-family: "Raleway"; sans-serif;
    margin: 0;
}

nav img {
    height: 80px;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul { 
    display: flex ;
    list-style: none;
}

nav li {
    margin: 0 10px 0 20px;
}

a:link {
  text-decoration: none;
}

/*barre de navigation*/

.topnav {
  background-color: white;
  overflow: hidden;
}
  
.topnav a {
  color: gray;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  border-top: 3px solid transparent;
}

/* todo */
.topnav a:hover {
border-top: 3px solid #0065FC;
color: #0065FC;
}

.topnav a.active {
border-top: 3px solid #0065FC;
}


nav li:last-child {
    color: #0065FC;
}

/*header*/

body ul {
    display: flex ;
    list-style: none;
}

* {
    box-sizing: border-box;
}

.input-container {
    display: -ms-flexbox; 
    display: flex;
    width: 20%;
    margin-bottom: 25px;
  }

  /*icon de de localisation*/
  .input-container .fas {
    background-color: #F2F2F2;
    color: black;
    border-radius: 15px 0 0 15px;
    min-width: 50px;
    padding: 10px;
    text-align: center;
  }
/*conteneur global filtres*/
.input-container2 {
    display: flex; 
    justify-content: space-between;
    margin-bottom: 25px;
  }
  
  
/*style icon information*/
  .fa-info-circle {
    color: white;
    background-color: #0065FC;
    border-radius: 50px;
  }

  .input-field {
    width: 100%;
    padding: 10px;
    outline: none;
  }
  
  .input-field:focus {
    border: 2px solid #F2F2F2;
  }
  
  /* style des button header */

  /*Bouton rechercher */
  .input-container .btn {
    border-radius: 0 15px 15px 0;
    color: white;
    background-color: #0065FC;
    padding: 10px 14px;
    font-size: 18px;
    cursor: pointer;
}
 
    /*icons font awesome */ 
.input-container2 .fas {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1em;
  color: #0065FC;
  background-color: #DEEBFF;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  } 

  /* boutons de filtres */

.input-container2 .btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 35px;
  border: solid 2px;
  border-color: #F2F2F2;
  border-radius: 35px;
  color: black;
  background: white;
  font-size: 18px;
  cursor: pointer;
  }
}


  .btn:hover {
    opacity: 1;
  }

/*main*/

/*couleur de fond*/
 
.background {
  background-color: #F2F2F2;
  border-radius: 20px;
}

.background2 {
  background-color: white;
}

.flex-container {
  display: flex;
}
/*section Hébergements à Marseille*/

.maincontainer1 {
  flex: 2;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  height: 600px;
  margin-right: 20px;
  padding: 0 20px 0 20px;
  border-radius: 20px;
}

.maincontainer1 .box{
  background-color: white;
  color: black;
  font-size: 12px;
  margin: 1%;
  border-radius: 15px;
  padding: 1%;
}


/*section Les plus populaires*/

.maincontainer2 {
  flex: 1;
  height: 600px;
  margin-right: 10px;
  border-radius: 20px;
}

.maincontainer3 {
display: flex 3;
margin: 20px;
justify-content: space-around;
align-items: center;
}
  /*flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-end;
  flex-direction: column;*/


/*.maincontainer2 .box{
  background-color: white;
  font-size: 12px;
  margin: 10px;
  border-radius: 20px;
  padding: 1%;
}*/

/*style des images */

.maincontainer1 img{
width: 100%;
height: 120px;
background-size: cover;
background-position: center;
border-radius: 15px 15px 0px 0px;
}

.maincontainer2 img{
  width: 100%;
  height: 120px;
  border-radius: 20px 0px 0px 20px;
}

.maincontainer3 img{
width: 100%;
height: 120px;
border-radius: 20px;
box-shadow: black;
}

footer{
    display: flex ;
    justify-content: space-between;
    background-color:#F2F2F2 ;
}

footer li {
    list-style: none;
}

