/** @param main. footer. background-color=#F2F2F2: /*voir syntaxe du css * 
* ! même background-color gris pour les deux premières sections du main et footer  */
 
/*TODO trouver le nom du sélecteur pour la balise des icons qui vont êtres color bleu #0065FC et background color #DEEBFF*
/* TODO fichier de remise à zero du css...
/**
* * Methode * CSS rules to specify families font-family: 'Raleway', sans-serif 
*/

* margin: auto;

body {
    font-family: "Raleway"; sans-serif;
    margin: 0;
}

nav img {
    height: 80px;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul{
    display: flex ;
    list-style: none;
}

nav li{
    margin: 0 10px 0 20px;
}

/* todo */
a:hover{
color: #0065FC;
}

nav ul li {
  border-top-color: #0065FC;
}

nav li:last-child {
    color: #0065FC;
}

/*header*/

body ul {
    display: flex ;
    list-style: none;
}

* {
    box-sizing: border-box;
}

.input-container {
    display: -ms-flexbox; 
    display: flex;
    width: 20%;
    margin-bottom: 25px;
  }

  /*icon de de localisation*/
  .input-container .fas {
    background-color: #F2F2F2;
    color: black;
    border-radius: 15px 0 0 15px;
    min-width: 50px;
    padding: 10px;
    text-align: center;
  }
/*conteneur global filtres*/
.input-container2 {
    display: flex; 
    justify-content: space-between;
    margin-bottom: 25px;
  }
  
  
/*style icon information*/
  .fa-info-circle {
    color: white;
    background-color: #0065FC;
    border-radius: 50px;
  }

  .input-field {
    width: 100%;
    padding: 10px;
    outline: none;
  }
  
  .input-field:focus {
    border: 2px solid #F2F2F2;
  }
  
  /* style des button header */

  /*Bouton rechercher */
  .input-container .btn {
    border-radius: 0 15px 15px 0;
    color: white;
    background-color: #0065FC;
    padding: 10px 14px;
    font-size: 18px;
    cursor: pointer;
}
 
    /*icons font awesome */ 
.input-container2 .fas {
  /*float: left; /* ! sert à quoi de faire des flexbox si c'est pour faire des float en même temps...*/
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1em;
  color: #0065FC;
  background-color: #DEEBFF;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  } 

  /* boutons de filtres */

.input-container2 .btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 35px;
  border: solid 2px;
  border-color: #F2F2F2;
  border-radius: 35px;
  color: black;
  background: white;
  font-size: 18px;
  cursor: pointer;
  }
}


  .btn:hover {
    opacity: 1;
  }

/*main*/
/*main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #F2F2F2;*/
}


/*section Hébergements à Marseille*/

.maincontainer1{
  display: flex;
  flex: wrap;
}

.flexcontainer {
  display: flex;
  border-radius: 20px;
}

.maincontainer1 .box {
  width: 200px;
  height: 600px;
  background-color: white;
  color: black;
  font-size: 18px;
  margin: 5px;
}


/*section Les plus populaires*/

.maincontainer2{
  display: flex;
  flex: nowrap;
}

.maincontainer2.box {
  width: 300px;
  background-color: white;
  font-size: 18px;
  margin: 5px;
}

/*style des images */

.maincontainer1 img{
  width: 100%;
  max-height: 50%;
  border-radius: 20px 20px 0px 0px;

}

.maincontainer2 img {
  width: 100%;
  border-radius: 20px 0px 0px 20px;
}

footer {
    display: flex ;
    justify-content: space-between;
    background-color:#F2F2F2 ;
}

footer li {
    list-style: none;
}

@media (max-aspect-ratio: 1/1) and (max-width: 480px) {
