/** @param main. footer. background-color=#F2F2F2: /*voir syntaxe du css * 
* ! même background-color gris pour les deux premières sections du main et footer  */
 
/*TODO trouver le nom du sélecteur pour la balise des icons qui vont êtres color bleu #0065FC et background color #DEEBFF*
/* TODO fichier de remise à zero du css...
/**
* * Methode * CSS rules to specify families font-family: 'Raleway', sans-serif 
*/
body {
    font-family: "Raleway"; sans-serif;
    margin: 0;
}

nav img {
    height: 80px;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul{
    display: flex ;
    list-style: none;
}

nav li{
    margin: 0 10px 0 20px;
}

/* todo */
nav ul li :first-child{
color: #0065FC;
border-top: #0065FC;
}

nav li:last-child {
    color: #0065FC;
}

/*header*/

body ul {
    display: flex ;
    list-style: none;
}

* {
    box-sizing: border-box;
}

.input-container {
    display: -ms-flexbox; 
    display: flex;
    width: 20%;
    margin-bottom: 25px;
  }

  
  .input-container .fas {
    background-color: lightgray;
    color: black;
    border-radius: 15px 0 0 15px;
    min-width: 50px;
    padding: 10px;
    text-align: center;
  }

.input-container2 {
    display: flex; 
    justify-content: space-between;
    margin-bottom: 25px;
  }
  
  

  .fa-info-circle {
    color: white;
    background-color: #0065FC;
    border-radius: 50px;
  }

  .input-field {
    width: 100%;
    padding: 10px;
    outline: none;
  }
  
  .input-field:focus {
    border: 2px solid lightgray;
  }
  
  /* style des button header */

  /*Bouton rechercher */
  
  .input-container .btn {
    border: none;
    border-radius: 0 15px 15px 0;
    color: white;
    background-color: #0065FC;
    padding: 10px 14px;
    font-size: 16px;
    cursor: pointer;
}
  

  /* boutons de filtres */
  .btn {
    border: solid 2px;
    border-color: lightgray;
    border-radius: 35px;
    color: black;
    background: white;
    font-size: 16px;
    cursor: pointer;
    }
  /*icons font awesome */ 

.input-container2 .fas {
display: flex;
float: left;
align-items: center;
background: #DEEBFF;
border-radius: 50px;
color: #0065FC;
  }

  .btn:hover {
    opacity: 1;
  }

/*main*/

main {
    background-color:#F2F2F2 ;
}


footer {
    display: flex ;
    justify-content: space-between;
    background-color:#F2F2F2 ;
}

footer li {
    list-style: none;
}
<!--TODO rajouter Mediaqueries-->